.section3 {
  width: 100%;
  /* background-color: #eab2d9; */
}

.section3 img {
  width: 50%;
}

.section2 {
  width: 100%;
  background-color: #e2cbdb;
}

h2 {
  color: #6060ab;
  font-family: "Montserrat", sans-serif;
}
h2:hover {
  color: #fa0376;
}

.cashback {
  width: 30%;
  float: left;
}
.cashback img {
  margin-top: 1em;
  width: 20%;
  height: auto;
  cursor: pointer;
}

.delivery {
  width: 30%;
  margin-left: 35%;
  text-align: center;
}

.delivery img {
  margin-top: 1em;
  width: 20%;
  height: auto;
  cursor: pointer;
}
.warranty {
  width: 30%;
  margin-top: -38%;
  float: right;
}
.warranty img {
  margin-top: 1em;
  width: 20%;
  height: auto;
  cursor: pointer;
}
#btn {
  border-radius: 30px;
  color: #fff;
  width: 30%;
  height: 50px;
  background-color: #dd1170;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
}

#btn a {
  color: #fff;
  text-decoration: none;
}

#btn:hover {
  background-color: #6060ab;
}

@media screen and (min-width: 950px) {
  .warranty {
    width: 30%;
    margin-top: -21%;
    float: right;
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .cashback {
    width: 100%;
    text-align: center;
  }
  .delivery {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .warranty {
    margin-top: 10%;
    width: 80%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  #btn {
    margin-left: 10%;
    width: 80%;
  }
  h2 {
    text-align: center;
  }
}
