/* Stylesheet created by : Jashanpreet Kaur */
body {
  background: url(images/body.jpg) right no-repeat;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border: none;
  border-radius: 1em;
  background: transparent;
  box-shadow: 0.3em 1em 1em 0.5em #cacaca;
  margin-top: 1em;
}

marquee {
  direction: left;
  height: 1.25em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  color: #410349;
}

header {
  height: auto;
  background: linear-gradient(
    90deg,
    rgb(109 109 161) 0%,
    rgb(190 167 227) 100%
  );
  text-align: center;
}

/* Style for container centers the page and sets the element width */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#container2 {
  margin-top: 20%;
  width: 20%;
  background-color: #028079;
  margin-left: auto;
  margin-right: auto;
}

#banner img {
  width: 100%;
  max-height: 321px;
}

#banner_caption p {
  position: absolute;
  top: 17.5em;
  left: 2em;
  color: #ff002f;
  font-size: 1.6em;
  font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
  text-shadow: 0 0 0.1em #081feb;
}
p {
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica,
    sans-serif;
  color: #830394;
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

nav {
  font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
  font-size: 1.25em;
  text-align: center;
  margin-top: 1em;
}

/*Style specifies padding and margins for unordered lists*/

nav ul {
  padding: 0;
  margin: 0.1em 0;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies 
margins and padding for list items within the navigation */
nav li,
.dropdown {
  background-color: #925a99;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.1em;
  padding: 0.2em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a,
.dropdown {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropdown_button:hover {
  color: rgb(230, 65, 114);
  font-style: italic;
}

.dropdown {
  /* float: left; */
  overflow: hidden;
  margin-bottom: 1em;
}

.dropdown .dropdown_button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: inherit;
  margin-left: 1em;
  font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 0.4em;
}
.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  background-color: #7858ac;
  opacity: 0.8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #7858ac;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 1px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #7d048d;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #7858ac;
}

/* styles for contact page  */
input,
textarea {
  display: block;
  width: 50%;
  margin-bottom: 1.2em;
}
label {
  display: block;
}

.radio {
  border: 1px solid #ffffff;
  display: flex;
  margin: 4px 0;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

.reference {
  border: 1px solid #ffffff;
  width: 100%;
  margin-bottom: 1em;
}
#btn1,
#btn2 {
  background-color: #7858ac;
  background: linear-gradient(90deg, #7858ac 0%, rgba(241, 5, 96, 0.56) 100%);
  display: inline-block;
  border-radius: 20px;
  border: solid 2px #dbd9d9;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 20%;
  cursor: pointer;
  margin: 5px;
}

#btn1:hover,
#btn2:hover {
  border: solid 1px #7d048d;
  background-color: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, rgba(145, 38, 172, 0.56) 100%);

  color: #7858ac;
}

/* Style displays the mobile class */
.mobile {
  display: inline;
}

/*Style hides the desktop class*/
.desktop {
  display: none;
}

/* Style hides the tablet class */
.tablet {
  display: none;
}
/* Style for footer specifies font size, text alignment, and top margin */
footer {
  font-size: 1em;
  margin-top: 2em;
  /* background: rgb(135 105 183); */
  background: linear-gradient(90deg, rgb(190 167 227) 0%, rgb(38 36 101) 100%);
  color: #ffffff;
  text-align: center;
}

p {
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica,
    sans-serif;
  color: #7d048d;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  margin-top: 1em;
}

/* section {
  float: left;
  width: 50%;
} */
section img {
  width: 100%;
  height: auto;
  text-align: center;
}
aside {
  margin-top: 0.5em;
  text-align: center;
}

/* Style for anchor elements within the footer element */

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(230, 65, 114);
}
/* ends here */

/* style rule for media page */

/* Style
rule for the video class
*/

.video {
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Style
rule for video element
*/

video {
  border: 0.5em ridge #ffffff;
  height: auto;
  max-width: 100%;
}

/* ends here */

/* Style for contact page starts */
label {
  float: left;
  padding-right: 0.5em;
  text-align: right;
  width: 9em;
  color: #7d048d;
}
/* ends here */

/* style for training  */
table,
th,
td {
  border: solid 0.1em #7d048d;
  border-collapse: collapse;
  padding: 1em;
  color: #6e027c;
}
caption {
  font-size: 1.5em;
  padding-bottom: 1em;
}

/* media query for tablet viewports target screen size with a minimum  of 660px */

@media only screen and (min-width: 660px) {
  /* Style for navigation list items specifies a border radius, border, margin, width, and padding */

  nav li,
  .dropdown {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 23%;
  }

  .dropdown .dropdown_button {
    margin-top: none;
  }

  /* Style for contact page starts */

  /* ends here */

  /* Style displays the mobile class */
  .mobile {
    display: none;
  }

  /*Style hides the desktop class*/
  .desktop {
    display: inline;
  }

  /* Style specifies to display the tablet class */

  .tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
  }

  /* style for contact */
  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: none;
    border-radius: 1em;
    background: transparent;
    box-shadow: 0.3em 1em 1em 0.5em #cacaca;
    margin-top: 1em;
  }
  section {
    text-align: center;
    width: 100%;
  }

  section img {
    width: 100%;
    height: auto;
  }
  aside {
    margin-top: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }
}

/* Media query for desktop viewport targets screens with a minimum width of 1036px. */

@media only screen and (min-width: 1036px) {
  header {
    text-align: left;
  }

  nav li,
  .dropdown {
    display: inline;
    margin-top: 1em;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 12.5%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  #banner_caption p {
    position: absolute;
    top: 11em;
    color: #028079;
    font-size: 2.5em;
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
    text-shadow: 0 0 0.4em #a5e2fa;
  }

  /* Style for navigation links specifies display and padding */

  nav li a {
    display: inline-block;
    padding: 0.5em;
    color: #ffffff;
    /* text-shadow: 0 0 0.2em #e779bd; */
  }

  .dropdown {
    color: #7d048d;
  }
  /* Style specifies margin and padding for the unordered list within the nav */

  nav ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: #ffffff;
  }
  nav {
    float: right;
    margin-top: -3.5em;
    /* margin-left:auto;
    margin-right: auto; */
    margin-right: 12em;
    margin-bottom: 0;
    width: 65%;
  }
  /* Style rules for pseudo-classes*/

  nav li a:link,
  .dropdown:visited {
    color: #f1f3f3;
  }

  nav li a:hover,
  .dropdown:hover .dropdown_button:hover {
    color: #dd1170;
    font-style: italic;
  }
  footer {
    background-color: rgb(135 105 183);
    padding: 2em;
    margin: auto 0;
    margin-top: auto;
  }

  /* style for contact page */
  main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: none;
    border-radius: 1em;
    box-shadow: 0.3em 1em 1em 0.5em #cacaca;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  section {
    float: left;
    width: 50%;
  }
  section img {
    width: 100%;
    height: 100%;
  }
  aside {
    margin-top: 2em;
    float: right;
    width: 50%;
    /* margin-right: 1em; */
  }

  /* training style */
  table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  tr:hover {
    background-color: #ffffff;
  }
  th {
    background-color: #c89cce;
    color: #ffffff;
  }

  /* style for media page  */

  video {
    border: 0.5em ridge #ffffff;
    min-width: 60%;
    height: auto;
  }
  /* ends here */
}
